* {padding:0px;margin:0px;font-family:"Source Code Pro"}
body {
	color: white;
	background-color: #2C2B2B;
	background-image: url(morele.jpg);
}
header {background:#000000}
.barra {background:url(../img/barraentera.jpg);
	background-size: cover;
	background-color: #464646;}
.menu {
	display: inline-block;
	border-radius: 7px;
	background-color: #000000;
}
.extrap {background:#8245FA;
	font-size:14px;
	display:inline-block;
	padding:7px;
	color:#fff;
	text-decoration:none;
	border-right:solid;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px; }
.extrap:hover {border-color:white;
	color:black;
	transition:border-color .4s,color .4s;
	cursor:pointer;}
.generar {background:#000000;
	font-size:14px;
	display:inline-block;
	padding:7px;
	color:#fff;
	text-decoration:none;}
.generar:hover {border-color:white;
	color:black;
	transition:border-color .4s,color .4s;
	cursor:pointer;}
.corpnius {background:#000000;
	font-size:14px;
	display:inline-block;
	padding:7px;
	margin:0px;
	color:#fff;
	text-decoration:none;
	border-left:solid;
	border-bottom-right-radius:3px;
	border-top-right-radius:3px}
.corpnius:hover {border-color:white;
	color:black;
	transition:border-color .4s,color .4s;
	cursor:pointer;}
.copyreit {border-style:solid;
	border-color:#fff;
	border-radius:7px;
	color:#fff;
	display:inline-block;}
.somosMC {
	text-decoration:none;
	color:#fff}
.titulo {max-width:500px}
.tituloextrap {background:#8245FA;
	display:inline-block;
	border-radius:7px;
	padding:4px;
	border-style:groove;
	border-color:white}
.boton {background:#000000;
	color:#f2f2f2;
	font-size:18px;
	display:inline-block;
	padding:10px;
	border-style:solid;
	border-radius:6px;}
.boton:hover {
	background: #f2f2f2;
	color: #000000;
	transition: background .4s,color .4s;
	cursor: pointer;
}
.boton:active {padding:9px}
.formulario {border-style:solid;
	border-radius:7px;
	width:90%;
	max-width:700px;
	padding:15px;}
.tarjetas {background:#000000;
	display:inline-block;
	border-style:groove;
	border-radius:7px;
	padding:3px;}
.fechas {background:#000000;
	display:inline-block;
	border-style:groove;
	border-radius:7px;
	padding:3px;}
.codigos {background:#000000;
	display:inline-block;
	border-style:groove;
	border-radius:7px;
	padding:3px;}
.separador {background:#000000;
	display:inline-block;
	border-style:groove;
	border-radius:7px;
	padding:3px;}
.formulario textarea {width:290px;
	max-width:400px;
	min-width:250px;
	border-radius:5px;
	height:100px;
	min-height:100px;
	max-height:300px;
}
.formulario input {
	position: relative;
	bottom: 1px;
}
@media only screen and (min-width:400px) and (max-width:500px) {.barra {background-image: url(../img/barra1.jpg);}
}
@media only screen and (min-width:501px) and (max-width:610px) {.barra {background-image: url(../img/barra2.jpg);}
}
@media only screen and (min-width:611px) and (max-width:680px) {.barra {background-image: url(../img/barra3.jpg);}
}
@media only screen and (min-width:681px) and (max-width:800px) {.barra {background-image: url(../img/barra4.jpg);}
}
@media only screen and (min-width:801px) and (max-width:850px) {.barra {background-image: url(../img/barra5.jpg);}
}
@media only screen and (min-width:851px) and (max-width:980px) {.barra {background-image: url(../img/barra6.jpg);}
}
@media only screen and (min-width:981px) and (max-width:1050px) {.barra {background-image: url(../img/barra7.jpg);}
}
@media only screen and (min-width:1051px) and (max-width:1100px) {.barra {background-image: url(../img/barra8.jpg);}
}
@media only screen and (min-width:1101px) and (max-width:1170px) {.barra {background-image: url(../img/barra9.jpg);}
}
@media only screen and (min-width:1171px) and (max-width:1210px) {.barra {background-image: url(../img/barra10.jpg);}
}
@media only screen and (min-width:1211px) and (max-width:1300px) {.barra {background-image: url(../img/barra11.jpg);}
}
